/* RESET
  reset default and browser styles
*/

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

h4,
p,
ul {
  margin: 0;
}

/* VARIABLES
  css variables
*/

:root {
  /* fm-header */
  --fm-header-height: 80px;
  /* fm-footer */
  --fm-footer-height: 75px;
  --fm-control-btn-size: 150px;
}

@media (max-width: 992px) {
  :root {
    /* fm-footer */
    --fm-control-btn-size: 120px;
  }
}

@media (max-width: 576px) {
  :root {
    /* fm-footer */
    --fm-footer-height: 100px;
    --fm-control-btn-size: 100px;
  }
}

/* BASE
  base styles for page
*/

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* ATOMCSS
  atom styles
*/
.clear-both {
  clear: both;
}
/* LAYOUT
  styles for layout elements
*/

/* container */

.fm-container {
  position: relative;
  margin: 0px auto;
  padding: 0px 15px;
  height: 100%;
  max-width: 100%
}

@media (min-width: 576px) {
  .fm-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .fm-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .fm-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .fm-container {
    max-width: 1140px;
  }
}

/* COMPONENTS
  styles for page components
*/

/* header */

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  /* padding: 5px 0px; */
  height: var(--fm-header-height);
  background: #fff;
  box-shadow: 0 2px 18px 0 rgba(129, 162, 182, .2);
}

.af-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fm-logo {
  display: inline-block;
  width: 85px;
  height: 40px;
  background: url('img/logo.png') no-repeat center/contain;
}

/* user */

.fm-user {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  cursor: pointer;
}

.fm-user:hover .fm-user-sub-manu {
  display: block;
}

.fm-user-photo {
  --fm-user-photo-size: 50px;
  width: var(--fm-user-photo-size);
  height: var(--fm-user-photo-size);
  border: 1px solid #242323;
  border-radius: 50%;
}

.fm-user-manu {
  position: relative;
}

.fm-user-manu-btn {
  padding: 0px 15px;
}

.fm-user-sub-manu {
  display: none;
  position: absolute;
  right: 0;
  top: 30px;
  padding: 10px 20px;
  margin-top: 10px;
  border: 1px solid #242323;
  border-radius: 2px;
  list-style: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  background-color: #fff;
}

.fm-user-sub-manu::before,
.fm-user-sub-manu::after {
  content: '';
  position: absolute;
  right: 10px;
  border-bottom: 10px solid;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.fm-user-sub-manu::before {
  top: -10px;
  border-bottom-color: #242323;
}

.fm-user-sub-manu::after {
  top: -9px;
  border-bottom-color: #fff;
}

.fm-user-sub-manu li {
  position: relative;
  padding-top: 5px;
  cursor: pointer;
}

.fm-user-sub-manu li:first-child {
  padding-top: 0px;
}

.fm-user-sub-manu li:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #242323;
  transition: .3s;
}

.fm-user-sub-manu li:hover:before {
  padding-top: 0px;
  width: 100%;
}

/* /.user */

/* main-content */

.fm-main-content {
  padding-top: var(--fm-header-height);
  height: 100%;
  max-height: calc(100% - var(--fm-footer-height));
  background: url('img/main-bg.png') no-repeat center/cover;
}

.fm-main-content h3 {
  margin-left: 15px;
  font-size: 3.4rem;
  text-transform: uppercase;
  font-weight: 400;
}
/* sounds-list */

.fm-sounds-list {
  display: flex;
  flex-wrap: wrap;
}

/* /sounds-list */

/* sound-card */

.fm-sound-card {
  --hirizontal-zige: 15px;

  /* float: left; */
  position: relative;
  width: calc(20% - var(--hirizontal-zige) * 2);
  margin: 0px var(--hirizontal-zige) 30px;
  min-height: 150px;
  background: rgba(129, 162, 182, .2) no-repeat center/cover;
  cursor: pointer;
}
@media (max-width: 992px) {
  .fm-sound-card {
    width: calc(25% - var(--hirizontal-zige) * 2);
  }
}

@media (max-width: 768px) {
  .fm-sound-card {
    width: calc(33% - var(--hirizontal-zige) * 2);
  }
}


@media (max-width: 576px) {
  .fm-sound-card {
    width: calc(50% - var(--hirizontal-zige) * 2);
  }
}

.fm-sound-card-content {
  bottom: 0;
  position: absolute;
  padding: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, .8);
}

.fm-sound-card-title,
.fm-sound-card-description {
  text-align: center;
  font-size: 1.4rem;
}

/* /sound-card */
/* /main-content */

/* footer */

footer {
  height: var(--fm-footer-height);
  padding: 15px 0px;
  background-color: #242323;
}

/* .control-btn */

.fm-control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  width: var(--fm-control-btn-size);
  height: var(--fm-control-btn-size);
  border: 2px solid #fff;
  background: url('img/play-bg.png') no-repeat center/cover;
  cursor: pointer;
}

.fm-control-btn-play::before {
  content: '';
  width: 0px;
  height: 0px;
  border-top: calc(var(--fm-control-btn-size) / 3) solid transparent;
  border-left: calc(var(--fm-control-btn-size) / 2) solid #fff;
  border-bottom: calc(var(--fm-control-btn-size) / 3) solid transparent;
}

.fm-control-btn-pause::before {
  content: '';
  width: calc(var(--fm-control-btn-size) / 6);
  height: calc((var(--fm-control-btn-size) / 3) * 2);
  border-left: calc(var(--fm-control-btn-size) / 6) solid #fff;
  border-right: calc(var(--fm-control-btn-size) / 6) solid #fff;
}

/* /.control-btn */

.fm-footer-content {
  display: flex;
  align-items: center;
  padding-left: 190px;
  height: 100%;
}

.fm-song {
  font-size: 3.4rem;
  font-weight: 300;
  color: #fff;
  line-height: 1;
}

.fm-song-name {
  color: #919191;
}

@media (max-width: 992px) {
  .fm-song {
    font-size: 2.6rem;
  }
  .fm-footer-content {
    padding-left: 140px;
  }
}

@media (max-width: 768px) {
  .fm-song {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .fm-footer-content {
    padding-left: 120px;
  }
}

/* /footer */